<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Liste des entreprises</h1>
<ul th:each="company : ${companies}">
    <li>
        <span th:text="${company.name}"></span>
        <span th:text="${company.siret}"></span>
        <th:block th:if="${company.categories != null}">
        <th:block th:each="category : ${company.categories}">
        <span th:text="${category.label}"></span>
        </th:block>
        </th:block>
        <a th:href="@{company/{id}(id=${company.id})}">Modifier</a>
        <a th:href="@{/api/company/delete/{id}(id=${company.id})}">Supprimer</a>
    </li>
</ul>
<a href="/company/create">Créer une entreprise</a>
</body>
</html>