.nav-bar {
   background-color: #26272b;
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 20%;

   .btn-div {
      display: flex;
      gap: 5px;
   }

   .logo {
      color: #ff6700;
      font-size: 1.75rem;
      font-weight: 400;
   }
}